@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-primary">@ViewData["Title"]</h1>

<p>Welcome to Survery Project.
    We are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, and protect your data when you use our services. 
    By using our website or services, you agree to the practices described in this policy.</p>
