@page
@model ThanksModel
@{
    ViewData["Title"] = "Thanks";
}
<h1 class="text-primary">@ViewData["Title"]</h1>

<div class="row">
    <div class="col text-center">
        <h2 class="mb-3">Thanks for the answer!</h2>
        <h2 class="mb-3">If you want to know the results, click on the link below </h2>
        <a class="btn btn-lg btn-primary" asp-page="Results">Results</a>
    </div>
</div>